/* Debut de la section header */
:root {
    --transparency: rgba(27, 47, 69, 0.7);
}
body {
    background-color: #f7f7f7;
    overflow-x: hidden;
}


.pre-section {
    text-align: center;
    margin: 30px 0;
}
.title-section {
    font-weight: 700;
}
.underline-title {
    display: grid;
    grid-template-columns: 20% 80%;
    width: 100px;
    height: 4px;
    margin: 0 auto;
    gap: 6px;
}
.underline-title span {
    border-radius: 8px;
    background-color: var(--base-color);
}

/* Partie header */
#header {
    position: fixed;
    z-index: 100;
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 12px var(--transparency);
}

.header-top {
    background-color: #F6F6F6;
    border-bottom: 6px solid var(--base-color);
    padding: 0 7%;
}

.section-left {
    gap: 10px;
}

@media screen and (max-width: 575.98px) {
    .media-element {
        transform: scale(0.8);
    }

    .section-left {
        gap: 2px;
    }
}

.media-element {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.media-element i {
    /* color: black; */
}

.media-element:hover {
    border-color: var(--base-color);
    color: var(--base-color);
    cursor: pointer;
}

.search-part {
    border-radius: 10px;
    padding: 0 8px;
    border-radius: 10px;
    background-color: white;
    border: 2px solid black;
}

.search-part input {
    padding-left: 12px;
    outline: none;
}

.search-part label {
    box-sizing: border-box;
    cursor: pointer;
}

.search-alternate {
    display: none;
    padding: 0 12px;
    cursor: pointer;
    box-sizing: border-box;
}

@media screen and (max-width: 767.98px) {
    .search-part {
        display: none;
    }

    .search-alternate {
        display: block;
    }

    .search-alternate i:hover {
        color: var(--base-color);
    }
}

.search-part :first-child {
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.lang {
    font-weight: 700;
    font-size: 0.8em;
    font-weight: 700;
}

.lang span {
    cursor: pointer;
}

.header-bottom {
    border: 2px solid rgb(255, 255, 255);
    padding: 0 7%;
}

.logo {
    height: 50px;
    margin-left: -2px;
    cursor: pointer;
}

.logo img {
    height: 100%;
}

.menu-select {
    padding: 0;
    border: none;
    background-color: transparent;
    color: black;
    margin: 0 6px;
}

.menu-select:hover {
    background-color: transparent;
    color: var(--base-color);
}

.menu .sous-menu {
    border-radius: 0;
}

.menu .burger-menu,
.hide-menu {
    cursor: pointer;
    position: relative;
    z-index: 5;
}

.menu .burger-menu i,
.hide-menu i {
    font-size: 1.6em;
}

@media screen and (min-width: 992px) {

    .menu .burger-menu,
    .hide-menu {
        display: none;
    }
}

@media screen and (max-width: 991.98px) {
    .menu .burger-menu i {
        display: block;
    }

    .menu .nav-menu {
        position: absolute;
        z-index: 4;
        left: 200%;
        top: 40px;
        transition: 1s;
        background-color: #F6F6F6;
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-left: 7%;
        padding-top: 40px;
    }

    .menu-select {
        font-size: 1.4em;
        margin: 12px 0;
    }

    .menu .sous-menu {}
}

.search-mobile {
    position: absolute;
    top: -300px;
    width: 100%;
    height: 100px;
    background-color: var(--base-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-mobile input:first-child {
    padding-left: 10px;
}


.name-card {
    background-color: #F8F8F8;
    width: 90%;
    margin: auto;
}

.card-content {
    background-color: rgb(255, 255, 255);
    transition: all 200ms
}

.image-card {
    height: 160px;
    overflow: hidden;
}

.image-card img {
    width: 100%;
}

.typo-card h5 {
    font-size: 1.2em;
    font-weight: 700;
}

.typo-card p {
    font-size: 0.9em;
    opacity: 0.9;
}

.bouton-card button {
    border-radius: 6px;
    padding: 6px 14px;
    text-align: left;
    border: none;
    font-weight: 700;
}

.bouton-card button #i-1 {
    transition: 3s;
}

.bouton-card button #cta {
    margin-left: 5px;
    display: none;
}


#accueil {
    position: relative;
    top: 120px;
}
.banner-carrousel {
    overflow: hidden;
    height: 500px;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-carrousel::after {
    content: "";
    color: white;
    position: absolute;
    height: 500px;
    width: 100%;
    background-color: var(--transparency);
}
.desc-accueil {
    position: absolute;
    border: 2px solid black;
    height: max-content;
    z-index: 200;
    /* top: 30%; */
    color: white;
}
.name-card {
    background-color: #F8F8F8;
    width: 90%;
    margin: auto;
}

.card-content {
    background-color: rgb(255, 255, 255);
    transition: all 200ms
}

.image-card {
    height: 160px;
    overflow: hidden;
}

.image-card img {
    width: 100%;
}

.typo-card h5 {
    font-size: 1.2em;
    font-weight: 700;
}

.typo-card p {
    font-size: 0.9em;
    opacity: 0.9;
}

.bouton-card button {
    border-radius: 6px;
    padding: 6px 14px;
    text-align: left;
    border: none;
    font-weight: 700;
}

.bouton-card button #i-1 {
    transition: 3s;
}

.bouton-card button #cta {
    margin-left: 5px;
    display: none;
}

.section-metiers {
    margin: 0 auto;
    padding: 0 13%;
}
.fabrique-img {
    margin-left:10px ;
}


/* css footer */
footer{
    width: 100%;
}
ul{
    padding: 0;
    /* margin: 0; */
}
.antifaq{
    background-color: var(--rouge);
}
.inputEmail,.btnInscrire{
    border: 1px solid var(--rouge);
    border-radius: 4px;
    padding: 5px;
    
}
.antifaq span{
    color: white;
    font-weight: bold;
}
.traitfooter{
    color: var(--rouge);
}
ul li a{
    color: var(--noir);
}
svg{
    color: var(--rouge);
}
 
.point{
    width: 1px;

}
/* footer{
    border: 1px solid red;
} */
footer h4{
    font-weight: bolder;
    font-style: italic;
    color: black;
}


/* end css footer */

/* responsive footer */
@media screen and (width>= 390px){
    .antifaq .container{
        display: flex;
        flex-direction: column;
    
    }
    
         
}
@media screen and (max-width:390px){
    li svg{
        display: none;
    }
    footer li{
        text-decoration: underline !important;
    }
    .newletter{
        display: flex;
        flex-direction: column;
        
    }
    .Inputbutton{
        margin-top: 10px;
    }
    .navmenu{
       
            flex-direction: column;

    }
    .videotetu iframe{
        width: 360px;
    }

    
} 



/* end responsive footer */

