/* Debut de la section header */
:root {
    --transparency: rgba(27, 47, 69, 0.7);
    --transparency-2: rgba(27, 47, 69, 0.8);
}
body {
    background-color: #f7f7f7;
    overflow-x: hidden;
}


.pre-section {
    text-align: center;
    margin: 30px 0;
}
.title-section {
    font-weight: 700;
}
.underline-title {
    display: grid;
    grid-template-columns: 20% 80%;
    width: 100px;
    height: 4px;
    margin: 0 auto;
    gap: 6px;
}
.underline-title span {
    border-radius: 8px;
    background-color: var(--base-color);
}

/* Partie header */
#header {
    position: fixed;
    z-index: 999;
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 12px var(--transparency);
}

.header-top {
    background-color: #F6F6F6;
    border-bottom: 6px solid var(--base-color);
    padding: 0 7%;
}

.section-left {
    gap: 10px;
}

@media screen and (max-width: 575.98px) {
    .media-element {
        transform: scale(0.8);
    }

    .section-left {
        gap: 2px;
    }
}

.media-element {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.media-element i {
    /* color: black; */
}

.media-element:hover {
    border-color: var(--base-color);
    color: var(--base-color);
    cursor: pointer;
}

.search-part {
    border-radius: 10px;
    padding: 0 8px;
    border-radius: 10px;
    background-color: white;
    border: 2px solid black;
}

.search-part input {
    padding-left: 12px;
    outline: none;
}

.search-part label {
    box-sizing: border-box;
    cursor: pointer;
}

.search-alternate {
    display: none;
    padding: 0 12px;
    cursor: pointer;
    box-sizing: border-box;
}

@media screen and (max-width: 767.98px) {
    .search-part {
        display: none;
    }

    .search-alternate {
        display: block;
    }

    .search-alternate i:hover {
        color: var(--base-color);
    }
}

.search-part :first-child {
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.lang {
    font-weight: 700;
    font-size: 0.8em;
    font-weight: 700;
}

.lang span {
    cursor: pointer;
}

.header-bottom {
    border: 2px solid rgb(255, 255, 255);
    padding: 0 7%;
}

.logo {
    height: 50px;
    margin-left: -2px;
    cursor: pointer;
}

.logo img {
    height: 100%;
}

.menu-select {
    padding: 0;
    border: none;
    background-color: transparent;
    color: black;
    margin: 0 6px;
}

.menu-select:hover {
    background-color: transparent;
    color: var(--base-color);
}

.menu .sous-menu {
    border-radius: 0;
}

.menu .burger-menu,
.hide-menu {
    cursor: pointer;
    position: relative;
    z-index: 5;
}

.menu .burger-menu i,
.hide-menu i {
    font-size: 1.6em;
}

@media screen and (min-width: 992px) {

    .menu .burger-menu,
    .hide-menu {
        display: none;
    }
}

@media screen and (max-width: 991.98px) {
    .menu .burger-menu i {
        display: block;
    }

    .menu .nav-menu {
        position: absolute;
        z-index: 4;
        left: 200%;
        top: 40px;
        transition: 1s;
        background-color: #F6F6F6;
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-left: 7%;
        padding-top: 40px;
    }

    .menu-select {
        font-size: 1.4em;
        margin: 12px 0;
    }

    .menu .sous-menu {}
}

.search-mobile {
    position: absolute;
    top: -300px;
    width: 100%;
    height: 100px;
    background-color: var(--base-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-mobile input:first-child {
    padding-left: 10px;
}

/* Fin de la section hrgb(87, 0, 0)£*/


#accueil {
    position: relative;
    top: 110px;
}
.banner-carrousel {
    overflow: hidden;
    /* height: 100%; */
    display: flex;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-carrousel .content-banner-img {
    height: 500px;
}
.content-banner-img img {
    height: 500px;
}
.banner-carrousel::after {
    content: "";
    color: white;
    position: absolute;
    z-index: 400;
    height: 500px;
    width: 100%;
    background-color: var(--transparency-2);
}
.btn-carrousel {
    position: relative;
    z-index: 700;
}
.desc-accueil {
    position: absolute;
    height: max-content;
    z-index: 600;
    top: 20%;
    color: white; 
}
.desc-accueil h5 {
    font-weight: 700;
    font-size: 3em;
    margin: 12px 0;
}
.desc-accueil p {
    font-weight: 300;
    line-height: 2;
    word-spacing: 4;
}
.cta-banner a {
    color: white;
    background-color: var(--base-color);
    padding: 12px 20px;
    border-top-left-radius: 20px;
    border-end-end-radius: 20px;
}
.cta-banner a:hover {
    color: white;
    background-color: black
}
@media screen and (max-width: 767.98px) {
    .banner-carrousel {
        height: 300px;
    }
    .desc-accueil {
        top: 20%;
    }
    .desc-accueil p {
        font-size: 0.7em;
    }

    .desc-accueil h5 {
        font-size: 1em;
    }
    .cta-banner {
        transform: scale(0.7);
    }
}
.name-card {
    background-color: #F8F8F8;
    width: 90%;
    margin: auto;
}

.card-content {
    background-color: rgb(255, 255, 255);
    transition: all 200ms
}

.image-card {
    height: 160px;
    overflow: hidden;
}

.image-card img {
    width: 100%;
}

.typo-card h5 {
    font-size: 1.2em;
    font-weight: 700;
    min-height: 50px;
}

.typo-card p {
    font-size: 0.9em;
    opacity: 0.9;
    height: 150px;
}

.bouton-card button {
    border-radius: 6px;
    padding: 6px 14px;
    text-align: left;
    border: none;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.bouton-card button #i-1 {
    transition: 3s;
}

.bouton-card button #cta {
    margin-left: 5px;
    display: none;
    font-size: 0.7em;
}

.section-metiers {
    margin: 0 auto;
    padding: 0 13%;
}
.metiers-items {
    border: 4px solid #D9D9D9;
    background-color: #D9D9D9;
    border-radius: 10px;
    overflow: hidden;
}

.metiers-items .mi-left {
    flex: 5;
    padding: 10px;
    /* text-align: center; */
}
.metiers-items .mi-left h5 {
    font-size: 1.3em;
    font-weight: bolder;
}
.metiers-items .mi-left p {
    font-size: 0.8em;
}
.metiers-items .mi-right {
    flex: 3;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.mi-right img {
    width: 90px;
}
@media screen and (max-width: 350px) {
    .metiers-items {
        flex-direction: column;
    }

    .mi-left {
        order: 2;
    }

    .mi-right {
        order: 1;
        flex-direction: row !important;
        gap: 10px !important;
        padding: 20px 0;
    }
    .mi-right img {
        width: 60px;
    }
}
.metiers-items .mi-left .btn-card {
    background-color: white !important;
}
.btn-card a {
    display: flex;
    align-items: center;
    color: black;
}
.temoignages {
    padding: 0 14%;
}
@media screen and (max-width: 575.98px) {
    .temoignages {
        padding: 0 2%;
    }
}
.tem-items {
    border-radius: 30px;
    cursor: pointer;
}
.tem-items-ele {
    border: 4px solid rgb(186, 186, 186);
    border-radius: 30px;
    min-width: 200px;
}
.tem-items:nth-child(2) {
    transform: scale(1.15);
}
.tem-items:nth-child(2) .tem-items-ele {
    background-color: rgb(186, 186, 186);
    border-color: white;
}
.tem-text {
    font-size: 0.9em;
    opacity: 0.8;
}
.tem-items-ele span {
    font-weight: 700;
}
.tem-items-ele span::before,
.tem-items-ele span::after {
    content: '-';
}
.tem-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid rgb(186, 186, 186);
    overflow: hidden;
}
.tem-items:nth-child(2) .tem-img {
    border-color: white;
}
.tem-img img {
    width: 100%;
}
.btn-temoignage {
    background-color: var(--base-color);
    font-size: 0.8em;
    color: white;
    border-width: 0;
    padding: 10px;
    border-radius: 12px;
    font-weight: 700;
}



.actualites {
    margin: 60px auto;
}
.actu-items {
    width: 80%;
    margin-left: 10%;
    display: grid;
    grid-template-columns: auto auto;
    gap: 40px;
    height: 300px;
    overflow: hidden;
    border-radius: 20px;
    background-color: rgb(186, 186, 186);
}
.left-actu {
    padding: 30px;
    display: flex;
    flex-direction: column;
    min-width: 300px;
}
.right-actu {
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-actu img {
    height: 100%;
}
@media screen and (max-width: 991.98px) {
    .actu-items {
        display: flex;
        flex-direction: column;
        height: min-content;
    }
    .left-actu {
        order: 2;
    }
    .right-actu {
        order: 1;
    }
    .right-actu img {
        height: 200px;
        min-width: 100% 
    }
}
.btn-component {
    position: relative;
    top: 20%;
}
.btn-component button {
    padding: 12px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 0.9em;
    border-width: 0;
}
.soutiens {
    width: 70%;
    margin: auto;
}

.sc-img {
    width: 70px;
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    border-radius: 50%;
    overflow: hidden;
}
.partenaire {
    width: 70%;
    margin: 30px auto;
}

.antifaq {
    background-color: var(--rouge);
}


/* css footer */

.inputEmail,
.btnInscrire {
    border: 1px solid var(--rouge);
    border-radius: 4px;
    padding: 5px;

}

.antifaq span {
    color: white;
    font-weight: bold;
}

.traitfooter {
    color: var(--rouge);
}

ul li a {
    color: var(--noir);
}

svg {
    color: var(--rouge);
}

/* li::before{
    content:".";
    color: var(--rouge);
    width: 5em;

} */
.point {
    width: 1px;

}
.logos {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4% 10%;
}

.logoContainer {
    margin: auto;
    overflow: hidden;
    position: relative;
    padding: 1%;
}

.logoContainer .slideLogo {
    -webkit-animation: scroll 30s linear infinite;
    animation: scroll 130s linear infinite;
    display: flex;
    gap: 80px;
    width: calc(150px * 14);
}
@media screen and (max-width: 767.98px) {

    .soutiens,
    .partenaire {
        width: 90%;
    }

    .logoContainer .slideLogo {
        gap: 20px;
    }
}
.logoContainer .slide {
    width: 60px;
    height: 60px;
    margin-left: 20px;
}

.logoContainer .slide img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

@-webkit-keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-150px * 7));
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-150px * 7));
    }
}
footer {
    /* border: 1px solid red; */
}

footer h4 {
    font-weight: bolder;
    font-style: italic;
    color: black;
}


/* end css footer */

/* responsive footer */
@media screen and (width>=390px) {
    .antifaq .container {
        display: flex;
        flex-direction: column;

    }

}
@media screen and (max-width:390px) {
    li svg {
        display: none;
    }

    h6 {
        text-decoration: underline;
    }
}
.foot-ul {
    /* border: 2px solid black; */
    padding-left: 0;
}

/* end responsive footer */
#progress {
    background-color: white;
    position: fixed;
    bottom: 10px;
    right: 10px;
    height: 70px;
    width: 70px;
    display: none;
    place-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 4;
}

#progressValue {
    display: block;
    height: calc(100% - 15px);
    width: calc(100% - 15px);
    background-color: var(--base-color);
    display: grid;
    place-items: center;
    font-size: 35px;
    color: white !important;
    font-weight: bold;

}