:root{
    --rouge :#CE0033;
    --bleu :#06114d8b;
    --gris :#f6f6f6;
}
#header{
    box-shadow: 0 2px 12px #06114d8b
}
/* debut css de la banniere */
.fondamentaux-banniere{
    background-image: url("https://img.freepik.com/photos-premium/comptage-commence-zero-non-photo-recadree-jeune-pirate-informatique-qui-craque-code-informatique-dans-obscurite_590464-34631.jpg?size=626&ext=jpg&ga=GA1.1.869340897.1689281166&semt=ais");
    background-position: center;
    background-size: cover;
    height: 500px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    place-content: center;
}
.fondamentaux-banniere::before{
    content: '';
    background-color: #06114d54;
    height: 500px;
    width: 100%;
    position: absolute;
    z-index: 1;
}
.fondamentaux-banniere h1{
    color: white;
    font-weight: bold;
    font-size: 50px;
    position: relative;
    z-index: 2;
}
.fondamentaux-banniere p{
    color: white;
    font-weight: bold;
    /* font-size: 80px; */
    position: absolute;
    z-index: 2;
    top: 330px;
}
.fondamentaux-banniere p a{
    color: white;
}
/* fin css baniere */

/* debut css contenu */
.fondamentaux-text{
    width: 80%;
    margin: 50px auto;
    border: 2px solid var(--rouge);
    border-radius: 0 50px 0 50px;
    text-align: center;
    align-items: center;
    padding: 20px;
}
.fondamentaux-text h2{
    padding-top: 20px;
    /* border: 2px solid var(--rouge); */

}
.fondamentaux-text p{
   margin-top: -40px;
    /* border: 2px solid black; */
}
.fondamentaux-text img{
    width: 50px;
    height: 50px;
    position: relative;
    left: 280px;
    top: -55px;
    /* border: 2px solid var(--rouge); */
}
.fondamentaux-bouton{
    background-color: var(--rouge);
    color: white;
    border: none;
    border-radius: 10px;
}
.fondamentaux-bouton:hover{
    background-color: white;
    color: var(--rouge);
    border: 1px solid var(--rouge);
    border-radius: 10px;
    font-weight: bold;
}
.fondamentaux-carte{
    margin: 50px auto;
    text-align: center;
}
.fondamentaux-carte h3{
    text-align: left;
}
.fondamentaux-carte-card .card img{
    height: 300px;
}
.fondamentaux-carte-card .card{
    margin-bottom: 20px;
}
/* fin css contenu */

/* début media queries */
@media screen and (width <= 900px) {
    .fondamentaux-carte-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: 20px auto;
        align-items: center;
    }
    .fondamentaux-text{
        width: 80%;
    }
    .fondamentaux-text img{
        left: 270px;
        top: -55px;
    }
    .fondamentaux-carte{
        margin-top: 50px;
        text-align: center;
        align-items: center;
    }
}
@media screen and (width <= 390px) {
    .fondamentaux-carte-card{
        width: 100%;
        align-items: center;
    }
    .fondamentaux-carte-card .card{
        width: 100%;
        align-items: center;
    }
    /* .fondamentaux-text{
        width: 100%;
    } */
    .fondamentaux-text h2{
        font-size: 20px;
    }
    .fondamentaux-text img{
        left: 160px;
        top: -55px;
    }
}
/* fin media queries */
